@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shantell Sans", cursive;
  height: 100%;
  overflow-y: hidden;
}


/* .swiper {
  width: 100%;
  height: 300px;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper {
  margin-left: auto;
  margin-right: auto;
} */

.mySwiper {
  width: 100%;
  height: 400px; /* Adjust as needed */
}

.swiper-button-prev, .swiper-button-next {
  color: white;
}
